# Python Fundamentals

In [3]:
print('Hello World!')

Hello World!

In [5]:
string = 'Hello World'
type(string)

str

In [6]:
number = 21
type(number)

int

In [7]:
n_float = 7.21
type(n_float)

float

In [8]:
str_num = '21'
num_str = int(str_num)
print(num_str)

21

In [9]:
result = 45 + 42 / 5 - 3 * 6
result

35.4

In [11]:
simplelist = ['Mexico', 1,2.9,3,6.0, [7,'a',4]]
simplelist

['Mexico', 1, 2.9, 3, 6.0, [7, 'a', 4]]

In [16]:
print(simplelist[0])
print(simplelist[1])
print(simplelist[2])
print(simplelist[3])
print(simplelist[4])
print(simplelist[5][0])
print(simplelist[5][1])
print(simplelist[5][2])

Mexico
1
2.9
3
6.0
7
a
4

In [48]:
simpledict = {'Country': 'Mexico', 
              'State': 'Quintana Roo',
              'City': 'Playa del Carmen',
              'Person1':{'name': 'Tomas', 'age': '61'}, 
              'Person2': {'name': 'Leticia', 'age': '57'},
              'Person3': {'name': 'Alberto', 'age': '33'}, 
              'Person4': {'name': 'Jorge', 'age': '30'},
              'Person5': {'name': 'Gustavo', 'age': '27'}}

In [51]:
print(simpledict['Country'])
print(simpledict['State'])
print(simpledict['City'])
print(simpledict['Person1']['name'])
print(simpledict['Person1']['age'])
print(simpledict['Person5']['name'])
print(simpledict['Person5']['age'])

Mexico
Quintana Roo
Playa del Carmen
Tomas
61
Gustavo
27

In [54]:
def anagram(s1,s2):
    if (sorted(s1) == sorted(s2)):
        print('S1 and S2 are anagrams')
    else:
        print('S1 and S2 aren´t anagrams')

In [66]:
x = "listen"
print(sorted(s1))
y = "silent"
print(sorted(s2))
anagram(x,y)

['e', 'i', 'l', 'n', 's', 't']
['e', 'i', 'l', 'n', 's', 't']
S1 and S2 are anagrams

In [63]:
s3 = ["car", "tree", "boy", "girl", "arc"]
s4 = ["rac", "preet", "now", "prig", "arc"]

In [65]:
s3 = ["car", "tree", "boy", "girl", "arc"]
print(sorted(s3))
s4 = ["rac", "preet", "now", "prig", "arc"]
print(sorted(s4))
anagram(s3,s4)

['arc', 'boy', 'car', 'girl', 'tree']
['arc', 'now', 'preet', 'prig', 'rac']
S1 and S2 aren´t anagrams

In [71]:
def even(x):
    result = [x for x in range(x + 1) if x%2 == 0]
    return result

In [72]:
even(20)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [78]:
def compare(x):
    result = [x for x in range(x + 1) if x < 20 and x > 7]
    print(f'El resultado es {result}')

In [79]:
compare(20)

El resultado es [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]